version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container123
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: nestjs
      MYSQL_USER: quangdn
      MYSQL_PASSWORD: 123456
      MYSQL_AUTH_PLUGIN: mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local